<div class="text-center">
  <div class="search_index container">
    <br>
    <h1>イベントを編集する</h1>
    <hr>
    <br>
    <%= render 'form', event: @event %>
    <%= link_to '戻る', @event,class: "btn btn-outline-secondary" %>
    <br>
  </div>
</div>
