<h1>お問い合わせが完了しました！</h1>

<h4>title: <%= @contact.title %></h4>

<h3>連絡先</h3>
<p>名前： <%= @contact.name %></p>
<p>Email： <%= @contact.email %></p>


<h4>お問い合わせ内容の確認</h4>

<p>content: <%= @contact.content %></p>
