/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */






 /* html {
   font-size: 62.5%;
 }

 body {
   width: 980px;
   margin: 0 auto;
	 font-family: sans-serif;
 }

nav {
	background-color: #222222;
	color: white;
}
nav ul {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 6px;
	list-style-type: none;
}
nav a {
	display: block;
	border-radius: 4px;
	padding: 12px 24px;
	color: white;
	text-decoration: none;
}
nav li a:hover {
	background-color: #8cae47;
}

.main-header {
  padding-bottom: 50%;
	padding-top: 50%;
  width: 100%;
  background-size: cover;
  background-image: url("../../assets/workshop-1746275_1920.jpg");
  /* background-attachment: fixed; */
}

/* .main-header .header_image {
  position: absolute;
   top: 50%;
   left: 47%;
   /* -webkit-transform : translate(-50%,-50%); */
   /* transform : translate(-50%,-50%);
   width: 100px;
} */

/* main画像（白い「Achieve」の文字の画像）部分の実装 */

/* .main-header img {
  width: 200px;
}
