// // Place all the styles related to the contacts controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
// li {
//     list-style:none;
// }
// ul {
//     padding:0;
// }
//
//
// .header{
//     font-size:20px;
//     font-weight:bold;
//     text-align:center;
// }
//
// .menu{
//     background-color:#012F4B;
//     color:#fff;
// }
// .menu li {
//     padding:5% 10%;
//     text-align:center;
// }
// .contents li{
//     background-color:#F3A7AB;
//     color:#fff;
//     padding:10% 10%;
//     box-sizing: border-box;
//     border: solid 1px #fff;
// }
// .topic li{
//     margin:1%;
//     border-bottom: dotted 1px #333333;
// }
// .container{
//     margin-top:20px;
//     padding-bottom: 100px;
// }
